In [1]:
import pandas as pd 
import plotly.express as px

In [2]:
covid_data = pd.read_csv('WHO-COVID-19-global-data.csv')

In [3]:
covid_data

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
185803,2022-02-20,ZW,Zimbabwe,AFRO,194,233224,1,5386
185804,2022-02-21,ZW,Zimbabwe,AFRO,128,233352,0,5386
185805,2022-02-22,ZW,Zimbabwe,AFRO,219,233571,0,5386
185806,2022-02-23,ZW,Zimbabwe,AFRO,409,233980,2,5388
185807,2022-02-24,ZW,Zimbabwe,AFRO,609,234589,0,5388

Country_code in the original dataset is two-letter. Need to convert to three-letter ISO country code for Plotly built-in countries geometry. The mapping used "countries_codes_and_coordinates.csv" in rawdata folder

In [5]:
country_code = pd.read_csv("rawdata/countries_codes_and_coordinates.csv")

In [6]:
country_code

,Country,Alpha-2 code,Alpha-3 code,Numeric code,Latitude (average),Longitude (average)
0,Afghanistan,"""AF""","""AFG""","""4""","""33""","""65"""
1,Albania,"""AL""","""ALB""","""8""","""41""","""20"""
2,Algeria,"""DZ""","""DZA""","""12""","""28""","""3"""
3,American Samoa,"""AS""","""ASM""","""16""","""-14.3333""","""-170"""
4,Andorra,"""AD""","""AND""","""20""","""42.5""","""1.6"""
...,...,...,...,...,...,...
251,Wallis and Futuna,"""WF""","""WLF""","""876""","""-13.3""","""-176.2"""
252,Western Sahara,"""EH""","""ESH""","""732""","""24.5""","""-13"""
253,Yemen,"""YE""","""YEM""","""887""","""15""","""48"""
254,Zambia,"""ZM""","""ZMB""","""894""","""-15""","""30"""
255,Zimbabwe,"""ZW""","""ZWE""","""716""","""-20""","""30"""

In [9]:
covid_data.join(country_code.set_index('Country'), on = 'Country')

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,Alpha-2 code,Alpha-3 code,Numeric code,Latitude (average),Longitude (average)
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0,"""AF""","""AFG""","""4""","""33""","""65"""
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0,"""AF""","""AFG""","""4""","""33""","""65"""
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0,"""AF""","""AFG""","""4""","""33""","""65"""
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0,"""AF""","""AFG""","""4""","""33""","""65"""
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0,"""AF""","""AFG""","""4""","""33""","""65"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...
185803,2022-02-20,ZW,Zimbabwe,AFRO,194,233224,1,5386,"""ZW""","""ZWE""","""716""","""-20""","""30"""
185804,2022-02-21,ZW,Zimbabwe,AFRO,128,233352,0,5386,"""ZW""","""ZWE""","""716""","""-20""","""30"""
185805,2022-02-22,ZW,Zimbabwe,AFRO,219,233571,0,5386,"""ZW""","""ZWE""","""716""","""-20""","""30"""
185806,2022-02-23,ZW,Zimbabwe,AFRO,409,233980,2,5388,"""ZW""","""ZWE""","""716""","""-20""","""30"""
185807,2022-02-24,ZW,Zimbabwe,AFRO,609,234589,0,5388,"""ZW""","""ZWE""","""716""","""-20""","""30"""

Clean the data:
1. Keep the fields of  "Country", "Date_reported", "Cumulative_cases", "Cumulative_deaths", "Alpha-3 code"
2. Since the project focuses on showing cumulative cases and deaths, filter out Date_reported as "2020-12-31" for all countries
3. Check if all countries have data input on 2021-12-31; if not, get the data for 2020-12-30

In [12]:
df = covid_data.join(country_code.set_index('Country'), on = 'Country')

In [17]:
extracted_df = df[["Country", "Date_reported", "Cumulative_cases", "Cumulative_deaths", "Alpha-3 code"]]
extracted_df = extracted_df[extracted_df.Date_reported == '2020-12-31']

Compare the length of entries in extracted_df with unique country numbers in the original dataframe
The return val of True indicates all the countries in the original df are captured in the extracted df

In [24]:
original_len = covid_data.Country.nunique()
extracted_len = len(extracted_df)
original_len == extracted_len

True

Start plotting the geographical map with Dash

In [ ]:
fig